.tableContainer {
  padding: 20px;
  margin: 0 auto;
  background-color: #1a1a1a;
  border: 2px solid #eee;
  border-radius: 8px;
  color: #eee;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  max-width: 1000px;
  overflow-x: auto;
}

.title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #8ae234;
}

.desktopTable,
.mobileTable {
  width: 100%;
  border-collapse: collapse;

  th, td {
    border: 1px solid #555;
    padding: 10px;
    text-align: center;
    font-size: 1.1rem;
  }

  th {
    background-color: #333;
    color: #eee;
  }

  td {
    background-color: #222;
    color: #ccc;
  }

  tr:nth-child(even) td {
    background-color: #2a2a2a;
  }
}


@media (max-width: 768px) {
  .desktopTable {
    display: none;
  }
}

// Показывать mobileTable только на экранах <= 768px
@media (min-width: 769px) {
  .mobileTable {
    display: none;
  }
}