.tableContainer {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #2c2c2c;
    border: 2px solid #f0f0f0;
    border-radius: 8px;
    color: #f0f0f0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .morseTable {
    width: 100%;
    border-collapse: collapse;
  
    th, td {
      border: 1px solid #f0f0f0;
      padding: 12px 15px;
      text-align: center;
    }
    td{
        font-size: 1.5rem;
    }
  
    th {
      background-color: #1f1f1f;
      font-size: 1.2rem;
      color: #f0f0f0;
    }
  
    tr:nth-child(even) {
      background-color: #3a3a3a;
    }
  
    tr:nth-child(odd) {
      background-color: #2c2c2c;
    }
  }