.footer {
    background-color: #2d2d2d; /* Тот же цвет, что и хедер */
    color: #f0f0f0; /* Цвет текста */
    padding: 15px 0; /* Внутренние отступы сверху и снизу */
    text-align: center; /* Центрирование текста */
    border-top: 2px solid #ffffff; /* Белая полоска сверху */
    font-size: 1rem; /* Размер шрифта */
}