* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #313131; /* Общий фон страницы */
    color: #f0f0f0; /* Цвет текста */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root {
    flex: 1; /* Заполняет пространство */
}